[submodule "themes/coder-portfolio"]
	path = themes/coder-portfolio
	url = https://github.com/yukkeorg/hugo-coder-portfolio.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
